body {
    font-family: Arial, sans-serif;
    background-image: url('https://i.ibb.co/xM9bV3S/received-1153490875783282.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #333;
    padding: 24px;
  }