body {
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  height: 100vh;
  overflow: hidden;
  display: flex;
  font-family: "Anton", sans-serif;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
}

.container {
  position: relative;
  display: grid;
  grid-template-rows: repeat(20, 5vh);
  grid-template-columns: repeat(20, 5vw);
  transform-style: preserve-3d;
}

.monitor {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  transform-style: preserve-3d;
}

.trigger:active ~ .monitor .vr_layer_item {
  width: 100%;
  height: 100%;
  border-radius: 1px;
}
.trigger:nth-child(1):hover ~ .monitor .camera.o-y {
  transform: rotateY(72deg);
}
.trigger:nth-child(1):hover ~ .monitor .camera.o-x {
  transform: rotateX(-72deg);
}
.trigger:nth-child(2):hover ~ .monitor .camera.o-y {
  transform: rotateY(64deg);
}
.trigger:nth-child(2):hover ~ .monitor .camera.o-x {
  transform: rotateX(-72deg);
}
.trigger:nth-child(3):hover ~ .monitor .camera.o-y {
  transform: rotateY(56deg);
}
.trigger:nth-child(3):hover ~ .monitor .camera.o-x {
  transform: rotateX(-72deg);
}
.trigger:nth-child(4):hover ~ .monitor .camera.o-y {
  transform: rotateY(48deg);
}
.trigger:nth-child(4):hover ~ .monitor .camera.o-x {
  transform: rotateX(-72deg);
}
.trigger:nth-child(5):hover ~ .monitor .camera.o-y {
  transform: rotateY(40deg);
}
.trigger:nth-child(5):hover ~ .monitor .camera.o-x {
  transform: rotateX(-72deg);
}
.trigger:nth-child(6):hover ~ .monitor .camera.o-y {
  transform: rotateY(32deg);
}
.trigger:nth-child(6):hover ~ .monitor .camera.o-x {
  transform: rotateX(-72deg);
}
.trigger:nth-child(7):hover ~ .monitor .camera.o-y {
  transform: rotateY(24deg);
}
.trigger:nth-child(7):hover ~ .monitor .camera.o-x {
  transform: rotateX(-72deg);
}
.trigger:nth-child(8):hover ~ .monitor .camera.o-y {
  transform: rotateY(16deg);
}
.trigger:nth-child(8):hover ~ .monitor .camera.o-x {
  transform: rotateX(-72deg);
}
.trigger:nth-child(9):hover ~ .monitor .camera.o-y {
  transform: rotateY(8deg);
}
.trigger:nth-child(9):hover ~ .monitor .camera.o-x {
  transform: rotateX(-72deg);
}
.trigger:nth-child(10):hover ~ .monitor .camera.o-y {
  transform: rotateY(0deg);
}
.trigger:nth-child(10):hover ~ .monitor .camera.o-x {
  transform: rotateX(-72deg);
}
.trigger:nth-child(11):hover ~ .monitor .camera.o-y {
  transform: rotateY(-8deg);
}
.trigger:nth-child(11):hover ~ .monitor .camera.o-x {
  transform: rotateX(-72deg);
}
.trigger:nth-child(12):hover ~ .monitor .camera.o-y {
  transform: rotateY(-16deg);
}
.trigger:nth-child(12):hover ~ .monitor .camera.o-x {
  transform: rotateX(-72deg);
}
.trigger:nth-child(13):hover ~ .monitor .camera.o-y {
  transform: rotateY(-24deg);
}
.trigger:nth-child(13):hover ~ .monitor .camera.o-x {
  transform: rotateX(-72deg);
}
.trigger:nth-child(14):hover ~ .monitor .camera.o-y {
  transform: rotateY(-32deg);
}
.trigger:nth-child(14):hover ~ .monitor .camera.o-x {
  transform: rotateX(-72deg);
}
.trigger:nth-child(15):hover ~ .monitor .camera.o-y {
  transform: rotateY(-40deg);
}
.trigger:nth-child(15):hover ~ .monitor .camera.o-x {
  transform: rotateX(-72deg);
}
.trigger:nth-child(16):hover ~ .monitor .camera.o-y {
  transform: rotateY(-48deg);
}
.trigger:nth-child(16):hover ~ .monitor .camera.o-x {
  transform: rotateX(-72deg);
}
.trigger:nth-child(17):hover ~ .monitor .camera.o-y {
  transform: rotateY(-56deg);
}
.trigger:nth-child(17):hover ~ .monitor .camera.o-x {
  transform: rotateX(-72deg);
}
.trigger:nth-child(18):hover ~ .monitor .camera.o-y {
  transform: rotateY(-64deg);
}
.trigger:nth-child(18):hover ~ .monitor .camera.o-x {
  transform: rotateX(-72deg);
}
.trigger:nth-child(19):hover ~ .monitor .camera.o-y {
  transform: rotateY(-72deg);
}
.trigger:nth-child(19):hover ~ .monitor .camera.o-x {
  transform: rotateX(-72deg);
}
.trigger:nth-child(20):hover ~ .monitor .camera.o-y {
  transform: rotateY(-80deg);
}
.trigger:nth-child(20):hover ~ .monitor .camera.o-x {
  transform: rotateX(-72deg);
}
.trigger:nth-child(21):hover ~ .monitor .camera.o-y {
  transform: rotateY(72deg);
}
.trigger:nth-child(21):hover ~ .monitor .camera.o-x {
  transform: rotateX(-64deg);
}
.trigger:nth-child(22):hover ~ .monitor .camera.o-y {
  transform: rotateY(64deg);
}
.trigger:nth-child(22):hover ~ .monitor .camera.o-x {
  transform: rotateX(-64deg);
}
.trigger:nth-child(23):hover ~ .monitor .camera.o-y {
  transform: rotateY(56deg);
}
.trigger:nth-child(23):hover ~ .monitor .camera.o-x {
  transform: rotateX(-64deg);
}
.trigger:nth-child(24):hover ~ .monitor .camera.o-y {
  transform: rotateY(48deg);
}
.trigger:nth-child(24):hover ~ .monitor .camera.o-x {
  transform: rotateX(-64deg);
}
.trigger:nth-child(25):hover ~ .monitor .camera.o-y {
  transform: rotateY(40deg);
}
.trigger:nth-child(25):hover ~ .monitor .camera.o-x {
  transform: rotateX(-64deg);
}
.trigger:nth-child(26):hover ~ .monitor .camera.o-y {
  transform: rotateY(32deg);
}
.trigger:nth-child(26):hover ~ .monitor .camera.o-x {
  transform: rotateX(-64deg);
}
.trigger:nth-child(27):hover ~ .monitor .camera.o-y {
  transform: rotateY(24deg);
}
.trigger:nth-child(27):hover ~ .monitor .camera.o-x {
  transform: rotateX(-64deg);
}
.trigger:nth-child(28):hover ~ .monitor .camera.o-y {
  transform: rotateY(16deg);
}
.trigger:nth-child(28):hover ~ .monitor .camera.o-x {
  transform: rotateX(-64deg);
}
.trigger:nth-child(29):hover ~ .monitor .camera.o-y {
  transform: rotateY(8deg);
}
.trigger:nth-child(29):hover ~ .monitor .camera.o-x {
  transform: rotateX(-64deg);
}
.trigger:nth-child(30):hover ~ .monitor .camera.o-y {
  transform: rotateY(0deg);
}
.trigger:nth-child(30):hover ~ .monitor .camera.o-x {
  transform: rotateX(-64deg);
}
.trigger:nth-child(31):hover ~ .monitor .camera.o-y {
  transform: rotateY(-8deg);
}
.trigger:nth-child(31):hover ~ .monitor .camera.o-x {
  transform: rotateX(-64deg);
}
.trigger:nth-child(32):hover ~ .monitor .camera.o-y {
  transform: rotateY(-16deg);
}
.trigger:nth-child(32):hover ~ .monitor .camera.o-x {
  transform: rotateX(-64deg);
}
.trigger:nth-child(33):hover ~ .monitor .camera.o-y {
  transform: rotateY(-24deg);
}
.trigger:nth-child(33):hover ~ .monitor .camera.o-x {
  transform: rotateX(-64deg);
}
.trigger:nth-child(34):hover ~ .monitor .camera.o-y {
  transform: rotateY(-32deg);
}
.trigger:nth-child(34):hover ~ .monitor .camera.o-x {
  transform: rotateX(-64deg);
}
.trigger:nth-child(35):hover ~ .monitor .camera.o-y {
  transform: rotateY(-40deg);
}
.trigger:nth-child(35):hover ~ .monitor .camera.o-x {
  transform: rotateX(-64deg);
}
.trigger:nth-child(36):hover ~ .monitor .camera.o-y {
  transform: rotateY(-48deg);
}
.trigger:nth-child(36):hover ~ .monitor .camera.o-x {
  transform: rotateX(-64deg);
}
.trigger:nth-child(37):hover ~ .monitor .camera.o-y {
  transform: rotateY(-56deg);
}
.trigger:nth-child(37):hover ~ .monitor .camera.o-x {
  transform: rotateX(-64deg);
}
.trigger:nth-child(38):hover ~ .monitor .camera.o-y {
  transform: rotateY(-64deg);
}
.trigger:nth-child(38):hover ~ .monitor .camera.o-x {
  transform: rotateX(-64deg);
}
.trigger:nth-child(39):hover ~ .monitor .camera.o-y {
  transform: rotateY(-72deg);
}
.trigger:nth-child(39):hover ~ .monitor .camera.o-x {
  transform: rotateX(-64deg);
}
.trigger:nth-child(40):hover ~ .monitor .camera.o-y {
  transform: rotateY(-80deg);
}
.trigger:nth-child(40):hover ~ .monitor .camera.o-x {
  transform: rotateX(-64deg);
}
.trigger:nth-child(41):hover ~ .monitor .camera.o-y {
  transform: rotateY(72deg);
}
.trigger:nth-child(41):hover ~ .monitor .camera.o-x {
  transform: rotateX(-56deg);
}
.trigger:nth-child(42):hover ~ .monitor .camera.o-y {
  transform: rotateY(64deg);
}
.trigger:nth-child(42):hover ~ .monitor .camera.o-x {
  transform: rotateX(-56deg);
}
.trigger:nth-child(43):hover ~ .monitor .camera.o-y {
  transform: rotateY(56deg);
}
.trigger:nth-child(43):hover ~ .monitor .camera.o-x {
  transform: rotateX(-56deg);
}
.trigger:nth-child(44):hover ~ .monitor .camera.o-y {
  transform: rotateY(48deg);
}
.trigger:nth-child(44):hover ~ .monitor .camera.o-x {
  transform: rotateX(-56deg);
}
.trigger:nth-child(45):hover ~ .monitor .camera.o-y {
  transform: rotateY(40deg);
}
.trigger:nth-child(45):hover ~ .monitor .camera.o-x {
  transform: rotateX(-56deg);
}
.trigger:nth-child(46):hover ~ .monitor .camera.o-y {
  transform: rotateY(32deg);
}
.trigger:nth-child(46):hover ~ .monitor .camera.o-x {
  transform: rotateX(-56deg);
}
.trigger:nth-child(47):hover ~ .monitor .camera.o-y {
  transform: rotateY(24deg);
}
.trigger:nth-child(47):hover ~ .monitor .camera.o-x {
  transform: rotateX(-56deg);
}
.trigger:nth-child(48):hover ~ .monitor .camera.o-y {
  transform: rotateY(16deg);
}
.trigger:nth-child(48):hover ~ .monitor .camera.o-x {
  transform: rotateX(-56deg);
}
.trigger:nth-child(49):hover ~ .monitor .camera.o-y {
  transform: rotateY(8deg);
}
.trigger:nth-child(49):hover ~ .monitor .camera.o-x {
  transform: rotateX(-56deg);
}
.trigger:nth-child(50):hover ~ .monitor .camera.o-y {
  transform: rotateY(0deg);
}
.trigger:nth-child(50):hover ~ .monitor .camera.o-x {
  transform: rotateX(-56deg);
}
.trigger:nth-child(51):hover ~ .monitor .camera.o-y {
  transform: rotateY(-8deg);
}
.trigger:nth-child(51):hover ~ .monitor .camera.o-x {
  transform: rotateX(-56deg);
}
.trigger:nth-child(52):hover ~ .monitor .camera.o-y {
  transform: rotateY(-16deg);
}
.trigger:nth-child(52):hover ~ .monitor .camera.o-x {
  transform: rotateX(-56deg);
}
.trigger:nth-child(53):hover ~ .monitor .camera.o-y {
  transform: rotateY(-24deg);
}
.trigger:nth-child(53):hover ~ .monitor .camera.o-x {
  transform: rotateX(-56deg);
}
.trigger:nth-child(54):hover ~ .monitor .camera.o-y {
  transform: rotateY(-32deg);
}
.trigger:nth-child(54):hover ~ .monitor .camera.o-x {
  transform: rotateX(-56deg);
}
.trigger:nth-child(55):hover ~ .monitor .camera.o-y {
  transform: rotateY(-40deg);
}
.trigger:nth-child(55):hover ~ .monitor .camera.o-x {
  transform: rotateX(-56deg);
}
.trigger:nth-child(56):hover ~ .monitor .camera.o-y {
  transform: rotateY(-48deg);
}
.trigger:nth-child(56):hover ~ .monitor .camera.o-x {
  transform: rotateX(-56deg);
}
.trigger:nth-child(57):hover ~ .monitor .camera.o-y {
  transform: rotateY(-56deg);
}
.trigger:nth-child(57):hover ~ .monitor .camera.o-x {
  transform: rotateX(-56deg);
}
.trigger:nth-child(58):hover ~ .monitor .camera.o-y {
  transform: rotateY(-64deg);
}
.trigger:nth-child(58):hover ~ .monitor .camera.o-x {
  transform: rotateX(-56deg);
}
.trigger:nth-child(59):hover ~ .monitor .camera.o-y {
  transform: rotateY(-72deg);
}
.trigger:nth-child(59):hover ~ .monitor .camera.o-x {
  transform: rotateX(-56deg);
}
.trigger:nth-child(60):hover ~ .monitor .camera.o-y {
  transform: rotateY(-80deg);
}
.trigger:nth-child(60):hover ~ .monitor .camera.o-x {
  transform: rotateX(-56deg);
}
.trigger:nth-child(61):hover ~ .monitor .camera.o-y {
  transform: rotateY(72deg);
}
.trigger:nth-child(61):hover ~ .monitor .camera.o-x {
  transform: rotateX(-48deg);
}
.trigger:nth-child(62):hover ~ .monitor .camera.o-y {
  transform: rotateY(64deg);
}
.trigger:nth-child(62):hover ~ .monitor .camera.o-x {
  transform: rotateX(-48deg);
}
.trigger:nth-child(63):hover ~ .monitor .camera.o-y {
  transform: rotateY(56deg);
}
.trigger:nth-child(63):hover ~ .monitor .camera.o-x {
  transform: rotateX(-48deg);
}
.trigger:nth-child(64):hover ~ .monitor .camera.o-y {
  transform: rotateY(48deg);
}
.trigger:nth-child(64):hover ~ .monitor .camera.o-x {
  transform: rotateX(-48deg);
}
.trigger:nth-child(65):hover ~ .monitor .camera.o-y {
  transform: rotateY(40deg);
}
.trigger:nth-child(65):hover ~ .monitor .camera.o-x {
  transform: rotateX(-48deg);
}
.trigger:nth-child(66):hover ~ .monitor .camera.o-y {
  transform: rotateY(32deg);
}
.trigger:nth-child(66):hover ~ .monitor .camera.o-x {
  transform: rotateX(-48deg);
}
.trigger:nth-child(67):hover ~ .monitor .camera.o-y {
  transform: rotateY(24deg);
}
.trigger:nth-child(67):hover ~ .monitor .camera.o-x {
  transform: rotateX(-48deg);
}
.trigger:nth-child(68):hover ~ .monitor .camera.o-y {
  transform: rotateY(16deg);
}
.trigger:nth-child(68):hover ~ .monitor .camera.o-x {
  transform: rotateX(-48deg);
}
.trigger:nth-child(69):hover ~ .monitor .camera.o-y {
  transform: rotateY(8deg);
}
.trigger:nth-child(69):hover ~ .monitor .camera.o-x {
  transform: rotateX(-48deg);
}
.trigger:nth-child(70):hover ~ .monitor .camera.o-y {
  transform: rotateY(0deg);
}
.trigger:nth-child(70):hover ~ .monitor .camera.o-x {
  transform: rotateX(-48deg);
}
.trigger:nth-child(71):hover ~ .monitor .camera.o-y {
  transform: rotateY(-8deg);
}
.trigger:nth-child(71):hover ~ .monitor .camera.o-x {
  transform: rotateX(-48deg);
}
.trigger:nth-child(72):hover ~ .monitor .camera.o-y {
  transform: rotateY(-16deg);
}
.trigger:nth-child(72):hover ~ .monitor .camera.o-x {
  transform: rotateX(-48deg);
}
.trigger:nth-child(73):hover ~ .monitor .camera.o-y {
  transform: rotateY(-24deg);
}
.trigger:nth-child(73):hover ~ .monitor .camera.o-x {
  transform: rotateX(-48deg);
}
.trigger:nth-child(74):hover ~ .monitor .camera.o-y {
  transform: rotateY(-32deg);
}
.trigger:nth-child(74):hover ~ .monitor .camera.o-x {
  transform: rotateX(-48deg);
}
.trigger:nth-child(75):hover ~ .monitor .camera.o-y {
  transform: rotateY(-40deg);
}
.trigger:nth-child(75):hover ~ .monitor .camera.o-x {
  transform: rotateX(-48deg);
}
.trigger:nth-child(76):hover ~ .monitor .camera.o-y {
  transform: rotateY(-48deg);
}
.trigger:nth-child(76):hover ~ .monitor .camera.o-x {
  transform: rotateX(-48deg);
}
.trigger:nth-child(77):hover ~ .monitor .camera.o-y {
  transform: rotateY(-56deg);
}
.trigger:nth-child(77):hover ~ .monitor .camera.o-x {
  transform: rotateX(-48deg);
}
.trigger:nth-child(78):hover ~ .monitor .camera.o-y {
  transform: rotateY(-64deg);
}
.trigger:nth-child(78):hover ~ .monitor .camera.o-x {
  transform: rotateX(-48deg);
}
.trigger:nth-child(79):hover ~ .monitor .camera.o-y {
  transform: rotateY(-72deg);
}
.trigger:nth-child(79):hover ~ .monitor .camera.o-x {
  transform: rotateX(-48deg);
}
.trigger:nth-child(80):hover ~ .monitor .camera.o-y {
  transform: rotateY(-80deg);
}
.trigger:nth-child(80):hover ~ .monitor .camera.o-x {
  transform: rotateX(-48deg);
}
.trigger:nth-child(81):hover ~ .monitor .camera.o-y {
  transform: rotateY(72deg);
}
.trigger:nth-child(81):hover ~ .monitor .camera.o-x {
  transform: rotateX(-40deg);
}
.trigger:nth-child(82):hover ~ .monitor .camera.o-y {
  transform: rotateY(64deg);
}
.trigger:nth-child(82):hover ~ .monitor .camera.o-x {
  transform: rotateX(-40deg);
}
.trigger:nth-child(83):hover ~ .monitor .camera.o-y {
  transform: rotateY(56deg);
}
.trigger:nth-child(83):hover ~ .monitor .camera.o-x {
  transform: rotateX(-40deg);
}
.trigger:nth-child(84):hover ~ .monitor .camera.o-y {
  transform: rotateY(48deg);
}
.trigger:nth-child(84):hover ~ .monitor .camera.o-x {
  transform: rotateX(-40deg);
}
.trigger:nth-child(85):hover ~ .monitor .camera.o-y {
  transform: rotateY(40deg);
}
.trigger:nth-child(85):hover ~ .monitor .camera.o-x {
  transform: rotateX(-40deg);
}
.trigger:nth-child(86):hover ~ .monitor .camera.o-y {
  transform: rotateY(32deg);
}
.trigger:nth-child(86):hover ~ .monitor .camera.o-x {
  transform: rotateX(-40deg);
}
.trigger:nth-child(87):hover ~ .monitor .camera.o-y {
  transform: rotateY(24deg);
}
.trigger:nth-child(87):hover ~ .monitor .camera.o-x {
  transform: rotateX(-40deg);
}
.trigger:nth-child(88):hover ~ .monitor .camera.o-y {
  transform: rotateY(16deg);
}
.trigger:nth-child(88):hover ~ .monitor .camera.o-x {
  transform: rotateX(-40deg);
}
.trigger:nth-child(89):hover ~ .monitor .camera.o-y {
  transform: rotateY(8deg);
}
.trigger:nth-child(89):hover ~ .monitor .camera.o-x {
  transform: rotateX(-40deg);
}
.trigger:nth-child(90):hover ~ .monitor .camera.o-y {
  transform: rotateY(0deg);
}
.trigger:nth-child(90):hover ~ .monitor .camera.o-x {
  transform: rotateX(-40deg);
}
.trigger:nth-child(91):hover ~ .monitor .camera.o-y {
  transform: rotateY(-8deg);
}
.trigger:nth-child(91):hover ~ .monitor .camera.o-x {
  transform: rotateX(-40deg);
}
.trigger:nth-child(92):hover ~ .monitor .camera.o-y {
  transform: rotateY(-16deg);
}
.trigger:nth-child(92):hover ~ .monitor .camera.o-x {
  transform: rotateX(-40deg);
}
.trigger:nth-child(93):hover ~ .monitor .camera.o-y {
  transform: rotateY(-24deg);
}
.trigger:nth-child(93):hover ~ .monitor .camera.o-x {
  transform: rotateX(-40deg);
}
.trigger:nth-child(94):hover ~ .monitor .camera.o-y {
  transform: rotateY(-32deg);
}
.trigger:nth-child(94):hover ~ .monitor .camera.o-x {
  transform: rotateX(-40deg);
}
.trigger:nth-child(95):hover ~ .monitor .camera.o-y {
  transform: rotateY(-40deg);
}
.trigger:nth-child(95):hover ~ .monitor .camera.o-x {
  transform: rotateX(-40deg);
}
.trigger:nth-child(96):hover ~ .monitor .camera.o-y {
  transform: rotateY(-48deg);
}
.trigger:nth-child(96):hover ~ .monitor .camera.o-x {
  transform: rotateX(-40deg);
}
.trigger:nth-child(97):hover ~ .monitor .camera.o-y {
  transform: rotateY(-56deg);
}
.trigger:nth-child(97):hover ~ .monitor .camera.o-x {
  transform: rotateX(-40deg);
}
.trigger:nth-child(98):hover ~ .monitor .camera.o-y {
  transform: rotateY(-64deg);
}
.trigger:nth-child(98):hover ~ .monitor .camera.o-x {
  transform: rotateX(-40deg);
}
.trigger:nth-child(99):hover ~ .monitor .camera.o-y {
  transform: rotateY(-72deg);
}
.trigger:nth-child(99):hover ~ .monitor .camera.o-x {
  transform: rotateX(-40deg);
}
.trigger:nth-child(100):hover ~ .monitor .camera.o-y {
  transform: rotateY(-80deg);
}
.trigger:nth-child(100):hover ~ .monitor .camera.o-x {
  transform: rotateX(-40deg);
}
.trigger:nth-child(101):hover ~ .monitor .camera.o-y {
  transform: rotateY(72deg);
}
.trigger:nth-child(101):hover ~ .monitor .camera.o-x {
  transform: rotateX(-32deg);
}
.trigger:nth-child(102):hover ~ .monitor .camera.o-y {
  transform: rotateY(64deg);
}
.trigger:nth-child(102):hover ~ .monitor .camera.o-x {
  transform: rotateX(-32deg);
}
.trigger:nth-child(103):hover ~ .monitor .camera.o-y {
  transform: rotateY(56deg);
}
.trigger:nth-child(103):hover ~ .monitor .camera.o-x {
  transform: rotateX(-32deg);
}
.trigger:nth-child(104):hover ~ .monitor .camera.o-y {
  transform: rotateY(48deg);
}
.trigger:nth-child(104):hover ~ .monitor .camera.o-x {
  transform: rotateX(-32deg);
}
.trigger:nth-child(105):hover ~ .monitor .camera.o-y {
  transform: rotateY(40deg);
}
.trigger:nth-child(105):hover ~ .monitor .camera.o-x {
  transform: rotateX(-32deg);
}
.trigger:nth-child(106):hover ~ .monitor .camera.o-y {
  transform: rotateY(32deg);
}
.trigger:nth-child(106):hover ~ .monitor .camera.o-x {
  transform: rotateX(-32deg);
}
.trigger:nth-child(107):hover ~ .monitor .camera.o-y {
  transform: rotateY(24deg);
}
.trigger:nth-child(107):hover ~ .monitor .camera.o-x {
  transform: rotateX(-32deg);
}
.trigger:nth-child(108):hover ~ .monitor .camera.o-y {
  transform: rotateY(16deg);
}
.trigger:nth-child(108):hover ~ .monitor .camera.o-x {
  transform: rotateX(-32deg);
}
.trigger:nth-child(109):hover ~ .monitor .camera.o-y {
  transform: rotateY(8deg);
}
.trigger:nth-child(109):hover ~ .monitor .camera.o-x {
  transform: rotateX(-32deg);
}
.trigger:nth-child(110):hover ~ .monitor .camera.o-y {
  transform: rotateY(0deg);
}
.trigger:nth-child(110):hover ~ .monitor .camera.o-x {
  transform: rotateX(-32deg);
}
.trigger:nth-child(111):hover ~ .monitor .camera.o-y {
  transform: rotateY(-8deg);
}
.trigger:nth-child(111):hover ~ .monitor .camera.o-x {
  transform: rotateX(-32deg);
}
.trigger:nth-child(112):hover ~ .monitor .camera.o-y {
  transform: rotateY(-16deg);
}
.trigger:nth-child(112):hover ~ .monitor .camera.o-x {
  transform: rotateX(-32deg);
}
.trigger:nth-child(113):hover ~ .monitor .camera.o-y {
  transform: rotateY(-24deg);
}
.trigger:nth-child(113):hover ~ .monitor .camera.o-x {
  tra