body {
    font-family: Arial, sans-serif;
    background-image: url('https://i.ibb.co/xM9bV3S/received-1153490875783282.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #333;
    padding: 24px;
  }

#inputOfPrefix, #inputOfAdmin,
#inputOfBotName {
	padding: 13px;
	width: 200px;
	border: 1px solid #ccc;
	border-radius: 8px;
	cursor: pointer;
	transition: background-color 0.3s ease, border-color 0.3s ease; 
	border-color: #ccc;
	background-color: #fff;
}
#listOfCommands, #listOfCommandsEvent, #prefixOfCommands, #adminOfCommands {
	border: none !important;
}

#listOfCommands:not(.modal), #listOfCommandsEvent:not(.modal), #prefixOfCommands:not(.modal),
#adminOfCommands:not(.modal) {
	box-shadow: none !important;
}

div {
	margin-bottom: 10px;
	border-radius: 5px;
}